@import "variables";
@import "mixins";

.fork{
  background-image: url("../img/fork_bgd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fork-subscription-pricing{
  color: $white;
  text-align: center;

  &__line{
    & img{
      width: 65%;
      height: 2px;
    }
  }

  &__title{
    @include montserrat-bold;
    margin: 112px 0 61px;
    font-size: 48px;
    line-height: 50px;
  }

  &__prices{
    @include flex-between;
    align-items: center;
    padding: 0 70px 97px;
  }

  &-price-item{
    font-family: $Montserrat;
    width: 23%;

    &--active{
      width: 27%;
      & span{
        font-size: 82px;
      }
    }

    &__tariff{
      @include montserrat-normal;
      background-color: $tariff-bgd;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 97px;
      &--active{
        background-color: $active-tariff;
        line-height: 111px;
      }
    }

    &__description{
      position: relative;
      height: 360px;
      padding: 30px 0 39px;
      box-sizing: border-box;
      background-color: $price-bgd;
      &--active{
        background-color: $active-description;
        height: 430px;
      }
    }

    &__price{
      font-size: 60px;
      text-align: center;
      text-transform: uppercase;
      & span{
        font-family: Montserrat, sans-serif;
        font-weight: 700;
      }
      &--active{
        font-size: 82px;
      }
    }

    &__validity{
      @include montserrat-normal;
      font-size: $medium;
      line-height: $middle;
      text-transform: uppercase;
      text-align: center;
      margin: 20px 0 36px;
    }

    &__horizontal{
      text-align: center;
      & img{
        width: 60px;
        height: 5px;
        margin: 0 0 38px;
      }
    }

    &__conditions{
      padding: 0 10px;
      @include montserrat-normal;
      line-height: 18px;
      font-size: $middle;
      text-align: center;
    }


    &__purchase{
      width: 100%;
      position: absolute;
      bottom: 39px;
      text-align: center;

      & button{
        width: 163px;
        height: 45px;
        border: 0;
        border-radius: 50px;
        @include montserrat-normal;
        background-color: $purchase-bgd;
        cursor: pointer;
        text-transform: uppercase;
        color: $white;
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}


@media screen and (max-width: 992px){
  .fork-subscription-pricing{
    &__title{
      margin: 88px 0 39px;
    }

    &__prices{
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    &-price-item {
      width: 46%;

      &--active{
        margin-top: 30px;
        width: 52%;
      }

      &:nth-child(2n+1){
        margin-right: 2%;
      }

      &__purchase{
        & button{
          max-width: 163px;
          width: 85%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px){
  .fork{
    min-width: 320px;
  }
  .fork-subscription-pricing{
      &__title{
      font-size: 28px;
      line-height: 42px;
      margin: 14px 0 32px;
    }

    &__prices{
      padding: 0 0 7px;
      justify-content: center;
    }

    &-price-item {
      width: 90%;
      & + & {
        margin-top: 18px;
      }

      &:nth-child(2n+1){
        margin-right: 0;
      }

      &--active{
        width: 100%;
      }
    }
    &__line img {
      width: 77%;
    }
  }
}

