.people {
  background-image: url("../img/testmonials-bg.png");
  background-position: center center;
  background-size: cover;
  text-align: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding-top: 108px;

  @include media("max", "sm") {
    // background-image: url("../img/fork_bgd.png");
    // background: rgb(74, 60, 80);
    padding-top: 58px;
    background-attachment: local;
background-position: bottom 1300px right 550px;
  }

  .people___title {
    align-items: center;
    text-align: center;
    @include montserrat-bold;
    color: $white;
    font-size: 48px;

    @include media("max", "md") {
      font-size: 42px;
    }
    @include media("max", "sm") {
      font-size: 36px;
      margin-bottom: 53px;
    }
  }
  &__wrapper {
    @include flex-wrap;
    justify-content: center;
    margin-top: 82px;
  }
  &__item {
    text-align: center;
    max-width: 26%;
    @include lato-ital;
    color: $white;
    margin-bottom: 116px;
    margin-right: 60px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    @include media("max", "md") {
      max-width: 40%;
      margin-bottom: 58px;
      &:nth-child(3n + 3) {
        margin-right: 60px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @include media("max", "sm") {
      max-width: 80%;
      margin-right: 0;
      margin-bottom: 44px;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }
  }
  &__img {
    max-height: 50px;
    width: auto;
    margin: 0 auto;
    object-fit: cover;
  }
  &__text {
    margin-top: 30px;
    font-size: 16px;
  }

  &__subtext {
    @include lato-normal;
    display: flex;
    position: relative;
    font-size: 14px;
    color: $people;
    align-items: center;
    text-align: center;
    max-width: 887px;
    padding-bottom: 20px;

    @include media("max", "md") {
      margin-left: 36px;
      margin-right: 28px;
      vertical-align: baseline;
    }
    @include media("max", "sm") {
      max-width: 80%;
      line-height: 21px;
    }
  }
}
