$black: #000000;
$blackLight: #27262a;
$main-color: #8d81ac;
$white: #ffff;
$grey: #848e97;
$gray-bright: #F4F4F4;
$violet: #635C73;
$benefit-info-title:#323232;
$benefit-info-description:#848E97;
$tariff-bgd:rgba(255, 255, 255,0.06);
$price-bgd:rgba(255, 255, 255,0.11);
$purchase-bgd:rgba(255, 255, 255, 0.15);
$active-tariff:rgba(0, 0, 0, 0.42);
$active-description: rgba(70, 48, 72, 0.84);
$mob-back: #333333;
$people: #A291A5;
$bottom: #3b3b3b;

$widthContainer : 1200px;

//font-weight//
$bold:700;
$normal:400;

//font-size//
$middle: 16px;
$medium: 14px;
$small: 12px;

//font-family//
$Montserrat: Montserrat, sans-serif;








